
footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex; /* Enable flexbox for the footer */
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 20px;
    box-sizing: border-box;
    font-family:  Georgia, Times, 'Times New Roman', serif;
  }
  
  .mail {
    display: flex; /* Enable flexbox for the list */
    flex-wrap: wrap; /* Allow items to wrap for responsiveness */
    justify-content: center; /* Center items horizontally */
    gap: 7px; /* Add space between items */
    
  }
  
  .mail > li {
    list-style-type: none;
  }
  
  .mail > li > a {
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding: 5px 7px; /* Add padding for better clickability */
    transition: color 0.3s ease; /* Smooth color transition */
   
  }

  .mail > li > a > i {
    margin: 4px;

  }
  
  @media (max-width: 420px) {
    footer {
        flex-direction: row; /* Arrange items horizontally on larger screens */
        justify-content: space-between; /* Distribute space evenly */
      }
    
      .mail {
        justify-content: flex-start; /* Align items to the start */
      }
  }